<section class="site">
  <nav>
     <a href="{{ path('main')}}" class="nav-links">Home</a>
    <a href="{{ path('app_login')}}" class="nav-links">Connexion</a>
    <a href="{{ path('app_register')}}" class="nav-links">Inscription</a>
   
  </nav>
 
 






